.header{
    background-color: black;
}

.header__inner{
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo{
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}